<div style="padding-top: 30px;">

  <div id="header">
    <img src="../../assets/imgs/logo.png" routerLink="/home">
    <h2>Iraqi Traders Network</h2>
    <hr style="color: #707070">
  </div>



  <div class="sidebarItem" routerLink="/users" routerLinkActive="activeSidebarItem">
    <div class="line" style="background-color: #0082E5"></div>
    <img src="../../assets/imgs/user.png">
    <h4>المتداولين</h4><hr style="color: #707070">
  </div>

  <div class="sidebarItem" routerLink="/signals" routerLinkActive="activeSidebarItem">
    <div class="line" style="background-color: #683891 "></div>
    <img src="../../assets/imgs/signal.png">
    <h4>التوصيات</h4><hr style="color: #707070">
  </div>

  <div class="sidebarItem" routerLink="/investors" routerLinkActive="activeSidebarItem">
    <div class="line" style="background-color: #04C257"></div>
    <img src="../../assets/imgs/investor.png" style="width: 20px">
    <h4>المستثمرين</h4><hr style="color: #707070">
  </div>

  <div class="sidebarItem" routerLink="/stocks" routerLinkActive="activeSidebarItem">
    <div class="line" style="background-color: #5E5E5E"></div>
    <img src="../../assets/imgs/stock.png">
    <h4>الاسهم</h4><hr style="color: #707070">
  </div>

  <div class="sidebarItem" style="position: absolute; bottom: 0px; display: flex;" routerLink="/settings" routerLinkActive="activeSidebarItem">
    <div class="line" style="background-color: #d8d8d8"></div>
    <img src="../../assets/imgs/setting.png">
    <h4>الاعدادات</h4>
  </div>

</div>
